@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:string";

@use "bootstrap/scss/bootstrap" as *;

.layout-scope {
    $font-primary: "Poppins", Arial, sans-serif;

    $white: #fff;
    $black: #000000;

    $primary: #1089ff;
    $secondary: #01d28e;

    @mixin border-radius($radius) {
        -webkit-border-radius: $radius;
        -moz-border-radius: $radius;
        -ms-border-radius: $radius;
        border-radius: $radius;
    }

    $border-radius: 8px;

    @mixin transition($transition) {
        -moz-transition: all $transition ease;
        -o-transition: all $transition ease;
        -webkit-transition: all $transition ease;
        -ms-transition: all $transition ease;
        transition: all $transition ease;
    }

    html {
        // overflow-x: hidden;
    }
    body {
        font-family: $font-primary;
        background: $white;
        font-size: 16px;
        line-height: 1.8;
        font-weight: 400;
        color: color.adjust($black, $lightness: 60%);
        &.menu-show {
            overflow: hidden;
            position: fixed;
            height: 100%;
            width: 100%;
        }
    }

    a {
        transition: 0.3s all ease;
        text-decoration: none;
        color: $primary;
        &:hover,
        &:focus {
            color: $primary;
            outline: none !important;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        line-height: 1.5;
        color: rgba(0, 0, 0, 0.8);
        font-weight: 400;
    }

    .text-primary {
        color: $primary !important;
    }

    .text-small {
        font-size: 12px;
    }

    .heading-section {
        font-size: 32px;
        font-weight: 600;

        * {
            font-size: inherit;
            font-weight: inherit;
        }
    }

    .container {
        max-width: 1140px;
    }

    .ftco-navbar-light {
        background: transparent !important;
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        z-index: 3;
        @include media-breakpoint-down(md) {
            background: $black !important;
            position: relative;
            top: 0;
        }

        .container-nav {
            padding: 5px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            box-shadow: 5px 10px 15px 5px rgb(0 0 0 / 50%) !important;
            background-color: rgb(0 0 0 / 60%) !important;
            border-radius: 999px !important;

            .navbar-brand {
                padding: 5px 20px;
                font-weight: 800;
                font-size: 20px;
                text-transform: uppercase;
                color: $white;
                span {
                    color: $secondary;
                }
                @include media-breakpoint-down(md) {
                    color: $white;
                }
                @media (max-width: 767px) {
                    display: none !important;
                }
            }

            .logo-img {
                display: none;
                margin: 5px;
                height: 35px;
                width: 35px;
                @media (max-width: 767px) {
                    display: flex;
                }
            }

            .navbar-toggler {
                border: none;
                color: rgba(255, 255, 255, 0.5) !important;
                cursor: pointer;
                padding: 15px;
                text-transform: uppercase;
                font-size: 16px;
                letter-spacing: 0.1em;
                &:hover,
                &:focus {
                    text-decoration: none;
                    color: $primary;
                    outline: none !important;
                }
            }

            .navbar-nav {
                @include media-breakpoint-down(md) {
                    padding-bottom: 10px;
                }
                > .nav-item {
                    > .nav-link {
                        font-size: 15px;
                        padding-top: 0.9rem;
                        padding-bottom: 0.9rem;
                        padding-left: 20px;
                        padding-right: 20px;
                        color: $white;
                        font-weight: 600;
                        &:hover {
                            color: $secondary;
                        }
                        opacity: 1 !important;
                        @include media-breakpoint-down(md) {
                            padding-left: 0;
                            padding-right: 0;
                            padding-bottom: 0;
                            color: $white;
                        }
                    }

                    .dropdown-menu {
                        border: none;
                        background: $white;
                        -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
                        -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
                        box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
                    }

                    &.ftco-seperator {
                        position: relative;
                        margin-left: 20px;
                        padding-left: 20px;
                        @include media-breakpoint-down(md) {
                            padding-left: 0;
                            margin-left: 0;
                        }
                        &:before {
                            position: absolute;
                            content: "";
                            top: 10px;
                            bottom: 10px;
                            left: 0;
                            width: 2px;
                            background: rgba($white, 0.05);
                            @include media-breakpoint-down(md) {
                                display: none;
                            }
                        }
                    }
                    &.cta {
                        > a {
                            color: $white;
                            border: 1px solid $primary;
                            padding-top: 0.5rem;
                            padding-bottom: 0.5rem;
                            padding-left: 18px;
                            padding-right: 18px;
                            margin-top: 4px;
                            background: $primary;
                            @include border-radius(2px);
                            span {
                                display: inline-block;
                                color: $white;
                            }
                            &:hover {
                                background: $primary;
                                border: 1px solid $primary;
                            }
                        }
                        &.cta-colored {
                            a {
                                border: 1px solid $secondary;
                                background: $secondary !important;
                            }
                        }
                    }
                    &.active {
                        > a {
                            color: $secondary;
                        }
                    }
                    @include media-breakpoint-down(md) {
                        &.active {
                            > a {
                                color: $primary;
                            }
                        }
                    }
                }
            }
            @media (max-width: 767px) {
                flex-direction: row-reverse;
            }
        }

        &.scrolled {
            position: fixed;
            right: 0;
            left: 0;
            top: 0;
            margin-top: -130px;
            background: $white !important;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            .nav-item {
                > .nav-link {
                    @include media-breakpoint-down(md) {
                        padding-left: 0 !important;
                        padding-right: 0 !important;
                        padding-bottom: 0 !important;
                    }
                }
                &.active {
                    > a {
                        color: $primary !important;
                    }
                }
                &.cta {
                    > a {
                        color: $white !important;
                        background: $primary;
                        border: none !important;
                        padding-top: 0.5rem !important;
                        padding-bottom: 0.5rem !important;
                        padding-left: 20px !important;
                        padding-right: 20px !important;
                        margin-top: 6px !important;
                        @include border-radius(5px);
                        span {
                            display: inline-block;
                            color: $white !important;
                        }
                    }
                    &.cta-colored {
                        span {
                            border-color: $primary;
                        }
                    }
                }
            }

            .navbar-nav {
                @include media-breakpoint-down(md) {
                    background: none;
                    border-radius: 0px;
                    padding-left: 0rem !important;
                    padding-right: 0rem !important;
                }
            }

            .navbar-toggler {
                border: none;
                color: rgba(0, 0, 0, 0.5) !important;
                border-color: rgba(0, 0, 0, 0.5) !important;
                cursor: pointer;
                padding-right: 0;
                text-transform: uppercase;
                font-size: 16px;
                letter-spacing: 0.1em;
            }
            .nav-link {
                padding-top: 0.9rem !important;
                padding-bottom: 0.9rem !important;
                color: $black !important;
                &.active {
                    color: $primary !important;
                }
            }
            &.awake {
                margin-top: 0px;
                transition: 0.3s all ease-out;
            }
            &.sleep {
                transition: 0.3s all ease-out;
            }
        }
    }

    .hero-wrap {
        width: 100%;
        height: 850px;
        position: inherit;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        @include media-breakpoint-down(lg) {
            background-position: center center !important;
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            opacity: 0.7;
            background: #000000;
            height: 850px;
        }
        @include media-breakpoint-down(md) {
            height: 1150px;
            .overlay {
                height: 1150px;
            }
        }
        &.hero-wrap-2 {
            height: 600px !important;
            position: relative;
            .overlay {
                opacity: 0.7;
                height: 600px;
            }
            .slider-text {
                max-width: 1140px !important;
                height: 600px !important;
            }
            @media (max-width: 767px) {
                height: 140px !important;

                .overlay {
                    height: 140px;
                }

                .slider-text {
                    height: 140px !important;
                    padding: 0 10px;

                    .breadcrumbs-content {
                        font-size: 24px;
                    }
                }
            }
        }

        &.hero-wrap-3 {
            @media (max-width: 767px) {
                height: 550px !important;

                h1 {
                    font-size: 32px;
                }
                .overlay {
                    height: 500px;
                }
                .slider-text {
                    max-width: 1140px !important;
                    height: 300px !important;
                }
            }
        }
        .content {
            font-size: 18px;
        }
    }

    .ftco-degree-bg {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -50px;
            overflow: visible;
            width: 100%;
            height: 120px;
            z-index: 0;
            -webkit-transform: skewY(-4deg);
            -moz-transform: skewY(-4deg);
            -ms-transform: skewY(-4deg);
            -o-transform: skewY(-4deg);
            transform: skewY(-4deg);
            background-color: #f8f9fa;
        }
    }

    .slider-text {
        width: 100%;
        height: 850px;
        position: absolute;
        left: 0;
        top: 0;
        @include media-breakpoint-down(md) {
            height: 1150px;
        }
        h1 {
            font-size: 44px;
            color: $white;
            line-height: 1.1;
            font-weight: 700;
            span {
                display: block;
            }
        }
        .icon-wrap {
            .icon {
                width: 70px;
                height: 70px;
                background: $secondary;
                @include border-radius(50%);
                span {
                    color: $white;
                }
            }
            .heading-title {
                position: relative;
                &:after {
                    position: absolute;
                    top: 50%;
                    left: -40px;
                    transform: translateY(-50%);
                    content: "";
                    width: 30px;
                    height: 2px;
                    background: $white;
                }
                span {
                    font-family: $font-primary;
                    color: $white;
                }
            }
        }
        p {
            line-height: 1.5;
            color: rgba(255, 255, 255, 1);
        }
        .breadcrumbs {
            font-size: 14px;
            margin-bottom: 20px;
            z-index: 99;
            text-transform: uppercase;
            font-weight: 500;
            span {
                color: rgba(255, 255, 255, 0.7);
                i {
                    color: rgba(255, 255, 255, 0.5);
                    font-size: 13px;
                }
                a {
                    color: rgba(255, 255, 255, 0.7);
                    &:hover,
                    &:focus {
                        color: $primary;
                        i {
                            color: $primary;
                        }
                    }
                }
            }
        }
        .bread {
            font-weight: 400 !important;
            position: relative;
            line-height: 0.8;
        }
    }

    .breadcrumb-container {
        height: 650px;
    }

    .featured-top {
        margin-top: -250px;
    }

    .request-form {
        background: $white;
        padding: 30px;
        z-index: 1;
        @include border-radius(5px);

        -webkit-box-shadow: 0px 5px 12px -1px rgba(0, 0, 0, 0.06);
        -moz-box-shadow: 0px 5px 12px -1px rgba(0, 0, 0, 0.06);
        box-shadow: 0px 5px 12px -1px rgba(0, 0, 0, 0.06);
        h2 {
            color: $white;
            font-size: 22px;
            font-weight: 600;
        }
        p {
            color: rgba(255, 255, 255, 0.8);
        }
        .form-group {
            position: relative;
            width: 100%;
            display: block;
            .icon {
                position: absolute;
                top: 50% !important;
                right: 0;
                font-size: 16px;
                transform: translateY(-50%);
                border: 1px solid red;
                span {
                    color: rgba(0, 0, 0, 0.3) !important;
                }
            }
            .select-wrap,
            .input-wrap {
                position: relative;
                select {
                    appearance: none;
                }
            }
            .btn {
                width: 100%;
                display: block !important;
            }
        }
        label.label {
            color: $white;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 600;
        }
        .form-control {
            border: transparent !important;
            border: 1px solid rgba(255, 255, 255, 0.1) !important;
            height: 40px !important;
            background: transparent !important;
            color: rgba(255, 255, 255, 0.7) !important;
            font-size: 12px;
            border-radius: 0px;
            box-shadow: none !important;
            &::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                color: rgba(255, 255, 255, 0.7);
            }
            &::-moz-placeholder {
                /* Firefox 19+ */
                color: rgba(255, 255, 255, 0.7);
            }
            &:-ms-input-placeholder {
                /* IE 10+ */
                color: rgba(255, 255, 255, 0.7);
            }
            &:-moz-placeholder {
                /* Firefox 18- */
                color: rgba(255, 255, 255, 0.7);
            }
            &:focus,
            &:active {
                border-color: $white;
            }
        }
        textarea.form-control {
            height: inherit !important;
        }
    }

    .bg-light {
        background: #f8f9fa !important;
    }

    .bg-primary {
        background: $primary !important;
    }

    .bg-secondary {
        background: $secondary !important;
    }

    .bg-black {
        background: $black;
    }

    //BUTTON
    .btn {
        cursor: pointer;
        @include border-radius(3px);
        box-shadow: none !important;
        font-size: 15px;
        &:hover,
        &:active,
        &:focus {
            outline: none;
        }
        &.btn-primary {
            background: $primary !important;
            border: 1px solid $primary !important;
            color: $white !important;
            &:hover {
                border: 1px solid $primary;
                background: transparent;
                color: $primary;
            }
            &.btn-outline-primary {
                border: 1px solid $primary;
                background: transparent;
                color: $primary;
                &:hover {
                    border: 1px solid transparent;
                    background: $primary;
                    color: $white;
                }
            }
        }
        &.btn-secondary {
            background: $secondary !important;
            border: 1px solid $secondary !important;
            color: $white !important;
            &:hover {
                border: 1px solid $secondary;
                background: transparent;
                color: $secondary;
            }
            &.btn-outline-secondary {
                border: 1px solid $secondary;
                background: transparent;
                color: $secondary;
                &:hover {
                    border: 1px solid transparent;
                    background: $secondary;
                    color: $white;
                }
            }
        }
        &.btn-outline-white {
            border-color: rgba($white, 0.8);
            background: none;
            @include border-radius(5px);
            border-width: 1px;
            color: $white;
            &:hover,
            &:focus,
            &:active {
                background: $white;
                border-color: $white;
                color: $primary;
            }
        }
        &.btn-black {
            background: $black !important;
            border: 1px solid $black !important;
            color: $white !important;
            &:hover {
                border: 1px solid $primary;
                background: transparent;
                color: $primary;
            }
            &.btn-outline-black {
                border: 1px solid color.scale($black, $lightness: 94%) !important;
                background: transparent !important;
                color: $black !important;
                &:hover {
                    border: 1px solid $primary !important;
                    background: $primary !important;
                    color: $white !important;
                }
            }
        }
    }

    .ftco-about {
        position: relative;
        z-index: 0;
        &:after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            content: "";
            background: color.scale($secondary, $lightness: 30%);
            border-radius: $border-radius;
            z-index: -2;
            width: 63%;
            @include media-breakpoint-down(sm) {
                width: 100%;
            }
        }
    }

    .heading-section {
        .subheading {
            font-size: 18px;
            display: block;
            margin-bottom: 5px;
            color: $primary;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        h3 {
            font-size: 40px;
            font-weight: 600;
            @include media-breakpoint-down(sm) {
                font-size: 28px;
            }
        }
        &.heading-section-white {
            .subheading {
                color: rgba(255, 255, 255, 0.9);
            }
            h3 {
                font-size: 34px;
                color: $white;
            }
            p {
                color: rgba(255, 255, 255, 0.9);
                font-size: 16px;
                text-align: justify;
            }
        }
    }

    .img-2 {
        @include media-breakpoint-down(sm) {
            height: 600px;
            margin-bottom: 40px;
        }
    }

    .services-wrap {
        padding: 4em 3em;
        background: $white;

        -webkit-box-shadow: 0px 5px 12px -1px rgba(0, 0, 0, 0.03);
        -moz-box-shadow: 0px 5px 12px -1px rgba(0, 0, 0, 0.03);
        box-shadow: 0px 5px 12px -1px rgba(0, 0, 0, 0.03);
        .heading-section {
            font-size: 24px;
            font-weight: 600;
        }
    }
    .services {
        .icon {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, 0.05);
            margin: 0 auto;
            margin-bottom: 20px;
            span {
                font-size: 40px;
                color: $primary;
            }
        }
        h3 {
            font-size: 17px;
            font-weight: 500;
        }
        &.services-2 {
            .icon {
                width: 110px;
                height: 110px;
                background: $primary;
                border: none;
                span {
                    color: $white;
                }
            }
        }
    }

    .form-control {
        height: 52px !important;
        background: $white !important;
        color: $black !important;
        font-size: 18px;
        border-radius: 5px;
        box-shadow: none !important;
        &:focus,
        &:active {
            border-color: $black;
        }
    }
    textarea.form-control {
        height: inherit !important;
    }

    .ftco-animate {
        opacity: 0;
        visibility: hidden;
    }

    .ftco-section {
        padding: 6em 0;
        position: relative;
        @include media-breakpoint-down(sm) {
            padding: 6em 0;
        }
    }

    .ftco-no-pt {
        padding-top: 0;
    }
    .ftco-no-pb {
        padding-bottom: 0;
    }

    .ftco-bg-dark {
        background: #3c312e;
    }

    .ftco-footer {
        font-size: 16px;
        background: #000;
        padding: 7em 0;
        .logo {
            text-transform: uppercase;
            font-weight: 700;
            color: $white;
            span {
                color: $secondary;
            }
        }
        .ftco-footer-widget {
            h2 {
                font-weight: normal;
                color: $white;
                margin-bottom: 40px;
                font-size: 20px;
                font-weight: 400;
            }
            ul {
                li {
                    a {
                        color: rgba(255, 255, 255, 0.8);
                        span {
                            color: $white;
                        }
                    }
                }
            }
            .btn-primary {
                background: $white !important;
                border: 2px solid $white !important;
                &:hover {
                    background: $white;
                    border: 2px solid $white !important;
                }
            }
        }
        p {
            color: rgba($white, 0.7);
        }
        a {
            color: rgba($white, 0.7);
            &:hover {
                color: $white;
            }
        }
        .ftco-heading-2 {
            font-size: 17px;
            font-weight: 400;
            color: $black;
        }
    }

    .ftco-footer-social {
        li {
            list-style: none;
            margin: 0 10px 0 0;
            display: inline-block;
            a {
                height: 50px;
                width: 50px;
                display: block;
                float: left;
                background: rgba($white, 0.05);
                border-radius: 50%;
                position: relative;
                span {
                    position: absolute;
                    font-size: 26px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &:hover {
                    color: $white;
                }
            }
        }
    }
    .footer-small-nav {
        > li {
            display: inline-block;
            a {
                margin: 0 10px 10px 0;
                &:hover,
                &:focus {
                    color: $primary;
                }
            }
        }
    }
    .media {
        .ftco-icon {
            width: 100px;
            span {
                color: $primary;
            }
        }
    }
    .ftco-media {
        background: $white;
        border-radius: 0px;
        .heading {
            font-weight: normal;
        }
        &.ftco-media-shadow {
            padding: 40px;
            background: $white;
            box-shadow: 0 10px 50px -15px rgba(0, 0, 0, 0.3);
            transition: 0.2s all ease;
            position: relative;
            top: 0;
            &:hover,
            &:focus {
                top: -3px;
                box-shadow: 0 10px 70px -15px rgba(0, 0, 0, 0.3);
            }
        }
        .icon {
            font-size: 50px;
            display: block;
            color: $primary;
        }
        &.text-center {
            .ftco-icon {
                margin: 0 auto;
            }
        }
    }
    .ftco-overflow-hidden {
        overflow: hidden;
    }

    /* Header */
    .profile {
        border-radius: 99px;
        color: #fff;
        background-color: #01d28e;
    }
    .cart-icon-wrapper {
        display: inline-block;
        position: relative;
        padding: 8px 16px;
        cursor: pointer;
        color: white;
    }

    .cart-icon-wrapper:hover * {
        color: #01d28e;
        transition: 0.3s;
    }

    .cart-badge {
        position: absolute;
        top: 5px;
        right: 4px;
        color: white;
        font-size: 0.75rem;
        font-weight: bold;
        padding: 2px 6px;
        border-radius: 999px;
        line-height: 1;
        min-width: 18px;
        text-align: left;
    }

    .call-icon-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        padding: 8px 8px 8px 18px;
        cursor: pointer;
    }

    .call-icon-wrapper p {
        margin: 0 auto;
        font-weight: bold;
    }

    @keyframes shakeWithPause {
        0% {
            transform: rotate(0deg);
        }
        2% {
            transform: rotate(10deg);
        }
        4% {
            transform: rotate(-10deg);
        }
        6% {
            transform: rotate(6deg);
        }
        8% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }

    .call-icon-wrapper i {
        text-shadow: 0 0 2px #01d28e;
        font-size: 1.2rem;
        margin-left: 8px;
        padding: 1px 9px;
        color: #01d28e;
        background-color: #fff;
        border-radius: 99px;
        display: inline-block;
        transform-origin: center;
        animation: shakeWithPause 3s ease-in-out infinite;
    }

    /* Products */
    .custom-input-group {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        border-radius: 50px !important;
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
    }

    .custom-input {
        height: 60px;
        font-size: 16px;
        border-radius: 50px !important;
        padding: 10px 140px 10px 25px;
        border: none !important;
        outline: none;
        transition: all 0.3s ease-in-out;
        background: white;
    }

    .custom-input:hover,
    .custom-input:focus {
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    }

    .custom-button {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        color: white;
        border-radius: 50px;
        padding: 12px 30px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s ease;
        font-weight: 500;
    }

    .custom-button:hover {
        background-color: #00c853;
        transform: translateY(-50%) scale(0.98);
    }

    .product-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .product-card {
        cursor: pointer;
        transition: box-shadow 0.2s ease-in-out;
        min-height: 360px;
        border-radius: 8px !important;
    }

    .product-card:hover {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25) !important;
    }

    .product-card img {
        height: 180px;
        object-fit: contain;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    .product-title {
        text-align: center;
    }

    .product-title p,
    h5 {
        font-weight: 500;
    }

    .product-title h5 {
        font-weight: 600;
    }

    .product-title span {
        font-weight: 600;
        font-size: 1.2rem;
    }

    .text-truncate-hover {
        display: inline-block;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: help;
        position: relative;
    }

    /* Detail Product */
    .product-image {
        max-height: 400px;
        object-fit: cover;
    }
    .thumbnail {
        width: 80px;
        height: 80px;
        object-fit: cover;
        cursor: pointer;
        opacity: 0.6;
        transition: opacity 0.3s ease;
    }
    .thumbnail:hover,
    .thumbnail.active {
        opacity: 1;
    }

    /* Cart */
    .quantity-input {
        height: 40px !important;
        width: 130px !important;
    }

    .quantity-input-button {
        height: 40px !important;
    }

    .quantity-input-input {
        height: 40px !important;
    }

    .quantity-input input::-webkit-inner-spin-button,
    .quantity-input input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .quantity-input input[type="number"] {
        -moz-appearance: textfield;
    }
    /* Login page*/
    .login-page {
        background-image: url("/imgs/bg/bg.jpg");
        background-size: cover;
        background-position: center;
        position: relative;
        width: 100%;
        height: 100vh;
    }

    .login-page::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
    }

    .login-page-form {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
